.app {
    background: #f1f1f1;
    display: grid;  /* Ativa no pai, tipo display flex */
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
        'cabecalho'
        'conteudo'
        'rodape';
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto; /* Como são três conteúdos, temos de colocar três valores */
}

.cabecalho {
    align-items: center;
    display: flex;
    grid-area: cabecalho;
    padding: 0 2rem;
}
 
.conteudo {
    grid-area: conteudo;
}

.rodape {
    grid-area: rodape;
}